/* Container del Dashboard */
.dashboard-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f0f4f8;
  padding: 20px;
  border-radius: 20px;
  width: 100%;
}

.dashboard-section {
  width: 100%;
  text-align: center;
}

/* Container de las Cards */
.dashboard-cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
  width: 100%;
  max-width: 1200px;
  margin-top: 20px;
}

.dashboard-card {
  background-color: #fff;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  overflow: hidden;
  text-align: left;
  transition: transform 0.3s ease;
}

.dashboard-card:hover {
  transform: translateY(-5px);
}

/* Imagen de la Card */
.card-img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-bottom: 1px solid #ddd;
}

/* Contenido de la Card */
.card-content {
  padding: 20px;
}

.card-title {
  font-size: 1.5rem;
  color: #333;
  margin-bottom: 10px;
}

.card-description {
  font-size: 1rem;
  color: #666;
  margin-bottom: 15px;
}

.option-link {
  background-color: #007bff;
  color: #fff;
  padding: 10px;
  border-radius: 8px;
  text-decoration: none;
  display: inline-block;
}

.option-link:hover {
  background-color: #0056b3;
}
