{% block content %}
    <h1>Lista de Usuarios</h1>
    <div id="userTableContainer"></div>

    <script type="module">
        import { fetchAndRenderData } from './js/apiUserManager.js';
        import { renderTable } from './js/renderTable.js'; 

        
        const userHeaders = {
            name: 'Nombre',
            email: 'Correo',
            phone: 'Teléfono',
            roles:'roles'
        };

        document.addEventListener('DOMContentLoaded', function () {
            fetchAndRenderData(
                'https:
                (data) => renderTable(data, userHeaders, 'userTableContainer'),
                userHeaders
            );
        });
    </script>
{% endblock %}
