<!-- Plantilla hija: views/pages/privatePages/dashboard.njk -->
{% extends "layouts/privateLayout.njk" %}

{% block title %}Dashboard{% endblock %} <!-- Bloque de título -->

{% block content %}
  <h1>{{ title }}</h1>
  <p>Bienvenido al dashboard privado.</p>

<div>
  <h1>Bienvenido, {{ name }} {{ surnames }}</h1>
  <p>Tus roles son:</p>
  <ul>
    {% for role in userRoles %}
      <li>{{ role }}</li>
    {% endfor %}
  </ul>
         <li><a href="/auth/logout">Cerrar Sesión</a></li>
</div>

<h2>    {{isAuthenticated}}</h2>
  <div class="cards-container">
   
    <section>



  <h1>Bienvenido, {{ username }}</h1>

  <h2>Opciones del Dashboard</h2>
  <ul>
    {% for item in items %}
      <li>
        <a href="{{ item.link }}">{{ item.title }}</a>
      </li>
    {% endfor %}
  </ul>

  <h3>Información del Perfil</h3>
  <p>Email: {{ profile.email }}</p>
  <p>Roles: {{ userRoles | join(', ') }}</p>


    </section>


    {% include "pages/privatePages/apiUserManager.njk" %}
</section>

{% endblock %}
