<!-- Plantilla hija: views/pages/privatePages/dashboard.njk -->
{% extends "layouts/privateLayout.njk" %} {% block title %}Dashboard{% endblock
%} {% block content %}
<div class="dashboard-container">
  <!-- Opciones del Dashboard -->
  <section class="dashboard-section">
    {% include "pages/utils/clock.njk" %} {% for item in items %}
    <section class="dashboard-subsection">
      <a
        href="{{ item.link }}"
        class="subsection-title"
        >{{ item.title }}</a
      >
      <div class="subsection-content">
        <p>
          Contenido adicional o descripción de {{ item.title }} puede ir aquí.
        </p>
      </div>
      <h1>Gráficos de Registros Activos e Inactivos</h1>

      <div
        id="charts-container-{{ loop.index }}"
        class="charts-container"
      ></div>
    </section>
    {% endfor %}
  </section>
</div>

<script type="module"></script>

{% endblock %}
