{% extends "layouts/privateLayout.njk" %} {% block content %}
<h1>Lista de Roles</h1>
<button id="addRoleBtn">Agregar Rol</button>
<div id="roleTableContainer"></div>
<div
  id="snackbar"
  class="snackbar"
></div>

<!-- Modal para agregar/editar roles -->
<div
  class="modal"
  id="addRoleModal"
  style="display: none"
>
  <div class="modal-content">
    <span
      class="close-button"
      onclick="Modal.close('#addRoleModal')"
      >&times;</span
    >
    <h2 id="modalTitle">Agregadsdr Rol</h2>
    <form id="roleForm">
      <label for="roleName">Nombre:</label>
      <input
        type="text"
        id="roleName"
        name="name"
        required
      />

      <label for="roleAlias">Alias:</label>
      <input
        type="text"
        id="roleAlias"
        name="alias"
        required
      />

      <label for="roleDescription">Descripción:</label>
      <input
        type="text"
        id="roleDescription"
        name="description"
      />

      <button
        type="button"
        id="selectPermissionsBtn"
      >
        Seleccionar Permisos
      </button>
      <button
        type="button"
        id="saveItemBtn"
      >
        Guardar
      </button>
    </form>
  </div>
</div>

<!-- Modal para seleccionar permisos -->
<div
  class="modal"
  id="selectPermissionsModal"
  style="display: none"
>
  <div class="modal-content">
    <span
      class="close-button"
      onclick="Modal.close('#selectPermissionsModal')"
      >&times;</span
    >
    <h2 id="permissionsModalTitle">Seleccionar Permisos</h2>
    <div id="permissionsContainer"></div>
    <button
      type="button"
      id="savePermissionsBtn"
    >
      Guardar Permisos
    </button>
  </div>
</div>

<!-- Modal de confirmación para eliminar rol -->
<div
  id="deleteRoleModal"
  class="modal"
  style="display: none"
>
  <div class="modal-content">
    <span
      class="close-button"
      onclick="Modal.close('#deleteRoleModal')"
      >&times;</span
    >
    <h2>Confirmar Eliminación</h2>
    <p>¿Estás seguro de que deseas eliminar este Rol?</p>
    <button id="confirmDeleteButton">Confirmar</button>
    <button id="cancelDeleteButton">Cancelar</button>
  </div>
</div>

<script type="module">
  import {
    loadRoles,
    addRole,
    updateRole,
    deleteRole,
  } from './js/reducers/roleReducer.js';

  import {
    fetchServices,
    createService,
    updateService,
    deleteService,
  } from './js/services/index.js';
  import { fetchPermissions } from './js/services/loadFetchs.js';
  import { getState } from './js/reducers/state.js';
  import { renderTable } from './js/components/global/renderTable.js';
  import { renderSubItemsCheckboxesForSelection } from './js/utils/subItemUtils.js'; 
  import {
    clearFormFields,
    resetFormFields,
    clearSelectionsAndArray,
  } from './js/components/forms/formUtils.js'; 
  import {
    saveSelectedSubItems,
    saveItem,
  } from './js/logic/itemLogic/index.js'; 
  import { roleEndpoints } from './js/config/apiEndpoints.js';
  const roleHeaders = {
    name: 'Nombre',
    alias: 'Alias',
    description: 'Descripción',
    permissions: 'Permisos',
    isActive: 'Estado',
  };

  let currentEditingRoleId = null; 
  let selectedPermissions = []; 

  document.addEventListener('DOMContentLoaded', () => {
    loadsRoles();
    setupEventListeners();
  });

  const loadsRoles = async () => {
    await fetchServices(roleEndpoints, loadRoles);
    const { roles } = getState();
    renderTable(roles, roleHeaders, 'roleTableContainer', onAction);
  };
  
  const setupEventListeners = () => {
    document.getElementById('addRoleBtn').addEventListener('click', () => {
      currentEditingRoleId = null; 
      clearRoleForm();
      loadPermissions(); 
      document.getElementById('modalTitle').textContent = 'Agregar Rol';
      document.getElementById('permissionsModalTitle').textContent =
        'Seleccionar Permisos';
      Modal.open('#addRoleModal'); 
    });

    document
      .getElementById('saveItemBtn')
      .addEventListener('click', saveItemHandler);
    document
      .getElementById('selectPermissionsBtn')
      .addEventListener('click', openPermissionsModal); 
    document
      .getElementById('savePermissionsBtn')
      .addEventListener('click', savePermissionsHandler);

    
    document
      .getElementById('confirmDeleteButton')
      .addEventListener('click', async () => {
        try {
          const message = await deleteService(
            currentEditingRoleId,
            roleEndpoints,
            deleteRole
          ); 
          await loadsRoles(); 
          showSnackbar(message, true); 
        } catch (error) {
          showSnackbar(error.message || 'Error al eliminar el rol.', false); 
        }
        Modal.close('#deleteRoleModal'); 
      });

    
    document
      .getElementById('cancelDeleteButton')
      .addEventListener('click', () => {
        Modal.close('#deleteRoleModal'); 
      });
  };

  const clearRoleForm = () => {
    clearFormFields('roleForm'); 
    clearSelectionsAndArray('permissionsContainer', selectedPermissions); 
  };

  const onAction = async (action, id) => {
    const roles = getState().roles;
    const selectedRole = roles.find((role) => role._id === id);

    if (action === 'edit') {
      
      resetFormFields(['roleName', 'roleAlias', 'roleDescription']); 
      document.getElementById('roleName').value = selectedRole.name;
      document.getElementById('roleAlias').value = selectedRole.alias;
      document.getElementById('roleDescription').value =
        selectedRole.description;
      currentEditingRoleId = id; 

      
      await loadPermissions();

      
      selectedPermissions = selectedRole.permissions.map((p) => p._id);
      document.getElementById('permissionsModalTitle').textContent =
        'Modificar Permisos';

      Modal.open('#addRoleModal'); 
    } else if (action === 'delete') {
      
      currentEditingRoleId = id; 
      Modal.open('#deleteRoleModal'); 
    }
  };

  
  const loadPermissions = async () => {
    await fetchPermissions(); 
    const { permissions } = getState(); 
    console.log('permissions', permissions);
    renderSubItemsCheckboxesForSelection(
      permissions,
      selectedPermissions,
      'permissionsContainer'
    ); 
  };

  const openPermissionsModal = () => {
    const { permissions } = getState(); 
    renderSubItemsCheckboxesForSelection(
      permissions,
      selectedPermissions,
      'permissionsContainer'
    ); 
    Modal.open('#selectPermissionsModal'); 
  };

  
  const savePermissionsHandler = () => {
    selectedPermissions = saveSelectedSubItems(
      'permissionsContainer',
      selectedPermissions
    ); 
    Modal.close('#selectPermissionsModal'); 
  };

  
  const saveItemHandler = async () => {
    const name = document.getElementById('roleName').value.trim();
    const alias = document.getElementById('roleAlias').value.trim();
    const description = document.getElementById('roleDescription').value.trim();

    
    if (!name || !alias || selectedPermissions.length === 0) {
      showSnackbar(
        'Por favor, complete todos los campos y seleccione al menos un permiso.',
        false
      );
      return;
    }

    const data = { name, alias, description, permissions: selectedPermissions };

    try {
      const message = await saveItem(
        data,
        currentEditingRoleId,
        updateService,
        createService,
        roleEndpoints,
        addRole,
        updateRole
      );
      if (message) {
        Modal.close('#addRoleModal');
        await loadsRoles(); 
        showSnackbar(message, true);
      } else {
        showSnackbar('Error al guardar el rol.', false);
      }
    } catch (error) {
      showSnackbar(error.message, false);
    }
  };

  
  window.onAction = onAction;
</script>

{% endblock %}
