<!-- views/pages/index.njk -->
{% extends "layouts/privateLayout.njk" %}

{% block content %}



    <div class="form-container">
        <h2>Agregar Nuevo Permiso</h2>
        <form action="/permissions/create-permission" method="POST">
            <label for="name">NombrePermission:</label>
            <input type="text" id="name" name="name" required />

            <label for="description">Descripción:</label>
            <input type="text" id="description" name="description" />

            <button class="send" type="submit">Agregar Permiso</button>
        </form>
    </div>

    <div class="table-container">
        <table>
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Descripción</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for permission in items %}
                <tr>
                    <td>{{ permission.name }}</td>
                    <td>{{ permission.description }}</td>
                    <td>
                        <form action="/permissions/{{ permission._id }}?_method=DELETE" method="POST">
                            <button type="submit">Eliminar</button>
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>



{% endblock %}
