
{% extends "layouts/privateLayout.njk" %}
{% block content %}
    <h1>Lista de Especialidades</h1>
    <div id="specialtyTableContainer"></div>

    <script type="module">
        import { fetchAndRenderData } from './js/apiUserManager.js';
        import { renderTable } from './js/renderTable.js'; // Asegúrate de la ruta correcta

        // Configuración de las columnas para especialidades
        const specialtyHeaders = {
            name: 'Nombre',
            description: 'Descripción',
            category: 'Categoría'
        };

        document.addEventListener('DOMContentLoaded', function () {
            fetchAndRenderData(
                'https://8000-fanoro1956-1945-4egy30l5tp8.ws-us116.gitpod.io/api/specialties',
                (data) => renderTable(data, specialtyHeaders, 'specialtyTableContainer'),
                specialtyHeaders
            );
        });
    </script>
{% endblock %}
