{% extends "layouts/privateLayout.njk" %}

{% block content %}
    <h1>Lista de Usuarios</h1>

   

    <hr />


  

        <section>
        {% include "pages/privatePages/users/list.njk" %}
    </section>

 

{% endblock %}
