<html><head></head><body>{% extends "layouts/privateLayout.njk" %} {% block content %}

<h1>Lista de {{ title }}</h1>
<section>sddsadasdasd {% include "components/api/fetch.njk" %}</section>

<hr>

{% endblock %}
</body></html>