.main {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
}

.form-container-signin {
  background-color: #0d0238;
  border-radius: 8px;
  padding: 20px 0px;
  box-shadow: 0 4px 10px rgba(7, 0, 74, 0.2);
  width: 100%;
  justify-content: center;
  max-width: 350px;
  text-align: center;
}

h2 {
  text-align: center;
  color: white;
  margin-bottom: 20px;
}

.error-message {
  color: red;
  margin-bottom: 15px;
  text-align: center;
  font-weight: bold;
}

input[type='email'],
input[type='password'] {
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  box-sizing: border-box;
}

.input-content {
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 0px 20px;
}

.logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.circle {
  width: 150px;
  height: 150px;
  border: 5px solid #ffffff;
  border-radius: 50%;
  position: relative;
}

.rotating-text {
  position: absolute;
  width: 100%;
  height: 100%;

  animation: spin 10s linear infinite;
  transform-origin: center;
}

.rotating-text span {
  position: absolute;
  transform-origin: 0px 75px;
  font-family: Arial, sans-serif;
  font-size: 10px;
  padding: 5px;
  font-family: Arial, sans-serif;

  color: #ffffff;
}

.rotating-text span:nth-child(1) {
  transform: rotate(-90deg);
}
.rotating-text span:nth-child(2) {
  transform: rotate(-60deg);
}
.rotating-text span:nth-child(3) {
  transform: rotate(-30deg);
}
.rotating-text span:nth-child(4) {
  transform: rotate(0deg);
}
.rotating-text span:nth-child(5) {
  transform: rotate(30deg);
}
.rotating-text span:nth-child(6) {
  transform: rotate(60deg);
}
.rotating-text span:nth-child(7) {
  transform: rotate(90deg);
}
.rotating-text span:nth-child(8) {
  transform: rotate(120deg);
}
.rotating-text span:nth-child(9) {
  transform: rotate(150deg);
}
.rotating-text span:nth-child(10) {
  transform: rotate(180deg);
}
.rotating-text span:nth-child(11) {
  transform: rotate(210deg);
}
.rotating-text span:nth-child(12) {
  transform: rotate(240deg);
}

.center-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: Arial, sans-serif;
  font-size: 24px;
  font-weight: bold;
  color: #fefefe;
  text-align: center;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
