.error-message {
  color: red;
  margin-bottom: 15px;
  text-align: center;
  font-weight: bold;
}

.logo-container {
  display: flex;

  align-items: center;
  justify-content: center;
}

.circle {
  width: 10rem;
  height: 10rem;
  position: relative;
  overflow: hidden; /* Asegúrate de que nada sobresalga */

  border-radius: 50%;
}

.rotating-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* Centrar el texto */
  display: flex; /* Usar flexbox para organizar el texto */
  justify-content: center; /* Centrar el texto horizontalmente */
  align-items: center; /* Centrar el texto verticalmente */
  width: 100%; /* Asegura que ocupe todo el ancho del círculo */
  height: 100%; /* Asegura que ocupe todo el alto del círculo */
  animation: spin-text 10s linear infinite; /* Hacer girar solo el texto */
}

/* Cada letra se posiciona en el borde del círculo */
.rotating-text span {
  position: absolute;
  font-family: 'Times New Roman', Times, serif;
  font-weight: 700;
  letter-spacing: 1px;
  margin: auto;
  font-size: 10px;
  color: #b6b3dc;
  transform-origin: 0 1rem; /* Cambiar el origen de la transformación */
}

/* Posiciones de las letras en un círculo */
.rotating-text span:nth-child(1) {
  transform: rotate(0deg) translate(4rem) rotate(0deg);
}
.rotating-text span:nth-child(2) {
  transform: rotate(30deg) translate(4rem) rotate(-30deg);
}
.rotating-text span:nth-child(3) {
  transform: rotate(60deg) translate(4rem) rotate(-60deg);
}
.rotating-text span:nth-child(4) {
  transform: rotate(90deg) translate(4rem) rotate(-90deg);
}
.rotating-text span:nth-child(5) {
  transform: rotate(120deg) translate(4rem) rotate(-120deg);
}
.rotating-text span:nth-child(6) {
  transform: rotate(150deg) translate(4rem) rotate(-150deg);
}
.rotating-text span:nth-child(7) {
  transform: rotate(180deg) translate(4rem) rotate(-180deg);
}
.rotating-text span:nth-child(8) {
  transform: rotate(210deg) translate(4rem) rotate(-210deg);
}
.rotating-text span:nth-child(9) {
  transform: rotate(240deg) translate(4rem) rotate(-240deg);
}
.rotating-text span:nth-child(10) {
  transform: rotate(270deg) translate(4rem) rotate(-270deg);
}
.rotating-text span:nth-child(11) {
  transform: rotate(300deg) translate(4rem) rotate(-300deg);
}
.rotating-text span:nth-child(12) {
  transform: rotate(330deg) translate(4rem) rotate(-330deg);
}

.inner-border {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 90%; /* Ajusta según el tamaño deseado */
  height: 90%; /* Ajusta según el tamaño deseado */
  border: 2px solid #b6b3dc; /* Estilo del borde */
  border-radius: 50%;
  transform: translate(-50%, -50%); /* Centra el borde interno */
  animation: spin-border 10s linear infinite; /* Animación de rotación */
  box-sizing: border-box; /* Asegura que el borde se cuente dentro del tamaño total */
}

.center-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: Arial, sans-serif;
  font-size: 24px;
  font-weight: bold;
  color: #fefefe;
  text-align: center;
  z-index: 1; /* Asegura que el texto central esté en el frente */
}

@keyframes spin-text {
  from {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

@keyframes spin-border {
  from {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
