.sign-in-container1 {
  gap: var(--dl-space-space-unit);
  width: 100%;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: row;
  justify-content: center;
}
.sign-in-max-width {
  gap: var(--dl-space-space-oneandhalfunits);
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: center;
}
.sign-in-container2 {
  gap: var(--dl-space-space-twounits);
  flex: 1;
  width: auto;
  height: 100%;
  display: flex;
  z-index: 100;
  max-width: 600px;
  align-items: center;
  border-radius: var(--dl-radius-radius-cardradius);
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-theme-accent1);
}
.sign-in-form1 {
  gap: var(--dl-space-space-oneandhalfunits);
  width: 100%;
  display: flex;
  max-width: 500px;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-end;
}
.sign-in-container3 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-end;
}
.sign-in-form2 {
  gap: var(--dl-space-space-unit);
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
}
.sign-in-email {
  gap: 4px;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.sign-in-textinput1 {
  width: 100%;
  border-color: var(--dl-color-theme-primary1);
  background-color: transparent;
}
.sign-in-password {
  gap: var(--dl-space-space-halfunit);
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.sign-in-textfield {
  gap: 4px;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.sign-in-container4 {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.sign-in-hide-password {
  gap: var(--dl-space-space-halfunit);
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  flex-shrink: 1;
  justify-content: center;
}
.sign-in-icon1 {
  fill: var(--dl-color-theme-neutral-dark);
  width: 24px;
  height: 24px;
}
.sign-in-textinput2 {
  width: 100%;
  border-color: var(--dl-color-theme-primary1);
  background-color: transparent;
}
.sign-in-link {
  align-self: flex-end;
  text-decoration: underline none;
}
.sign-in-button1 {
  width: 100%;
}
.sign-in-divider1 {
  gap: var(--dl-space-space-oneandhalfunits);
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  justify-content: center;
}
.sign-in-divider2 {
  flex: 1;
  width: var(--dl-size-size-medium);
  height: 1px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: var(--dl-color-theme-primary1);
}
.sign-in-divider3 {
  flex: 1;
  width: auto;
  height: 1px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: var(--dl-color-theme-primary1);
}
.sign-in-container5 {
  gap: var(--dl-space-space-unit);
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-end;
}
.sign-in-button2 {
  gap: var(--dl-space-space-halfunit);
  width: 100%;
  display: flex;
  box-sizing: border-box;
  align-items: center;
  border-color: var(--dl-color-theme-primary1);
  border-style: solid;
  border-width: 1px;
  justify-content: center;
}
.sign-in-icon3 {
  width: 24px;
  height: 24px;
}
.sign-in-button3 {
  gap: var(--dl-space-space-halfunit);
  width: 100%;
  display: flex;
  box-sizing: border-box;
  align-items: center;
  border-color: var(--dl-color-theme-primary1);
  border-style: solid;
  border-width: 1px;
  justify-content: center;
}
.sign-in-icon5 {
  width: 24px;
  height: 24px;
}
.sign-in-container6 {
  gap: var(--dl-space-space-unit);
  flex: 1;
  width: auto;
  height: auto;
  display: flex;
  max-width: 500px;
  align-items: flex-start;
  border-radius: var(--dl-radius-radius-cardradius);
  flex-direction: column;
  background-color: var(--dl-color-theme-accent2);
}
.sign-in-container7 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.sign-in-button4 {
  width: 100%;
}
.sign-in-text22 {
  display: inline-block;
}
.sign-in-text23 {
  display: inline-block;
  text-align: center;
}
.sign-in-text24 {
  display: inline-block;
}
.sign-in-text25 {
  display: inline-block;
  text-align: center;
}
.sign-in-text26 {
  display: inline-block;
}
.sign-in-text27 {
  display: inline-block;
}
@media (max-width: 991px) {
  .sign-in-container1 {
    gap: var(--dl-space-space-twounits);
    height: auto;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
  .sign-in-max-width {
    align-items: center;
    flex-direction: column;
  }
  .sign-in-container2 {
    width: 100%;
  }
  .sign-in-container6 {
    max-width: 600px;
  }
}
@media (max-width: 767px) {
  .sign-in-container1 {
    padding: var(--dl-space-space-threeunits);
  }
}
@media (max-width: 479px) {
  .sign-in-container1 {
    padding: var(--dl-space-space-oneandhalfunits);
  }
  .sign-in-button1 {
    width: 100%;
  }
  .sign-in-button2 {
    width: 100%;
  }
  .sign-in-button3 {
    width: 100%;
  }
  .sign-in-button4 {
    width: 100%;
  }
  .sign-in-text26 {
    text-align: center;
  }
}
