<html lang="es"><head></head><body>{# layout.njk or your main template #}



    <meta charset="UTF-8">
    <title>Mi Aplicación</title>
    <!-- Otros elementos head -->


    <div class="main-content">
        {# Otras secciones de la página #}
        
        {% include "meetOurDoctors.njk" %}
        {% include "bookAppointment.njk" %}  {# Aquí se incluye el partial #}
        
        {# Otras secciones de la página #}
    </div>


</body></html>