<html><head></head><body><section id="book" class="home-book6">
  <div class="home-heading27">
    <h2 class="home-text79">Reserva una cita</h2>
    <p class="home-text80">Proasqwqgrama tu cita de manera fácil y rápida.</p>
  </div>
  <div class="home-form">
    <div class="home-types2">
      <div class="book-type">
        <span class="home-text81">Cita presencial</span>
      </div>
      <div class="book-type">
        <span class="home-text82">Cita virtual</span>
      </div>
    </div>
    <div class="home-inputs">
      <input type="text" placeholder="Nombre" autocomplete="name" class="input book-input">
      <input type="email" placeholder="Correo electrónico" autocomplete="email" class="input book-input">
      <input type="tel" placeholder="Teléfono" autocomplete="tel" class="input book-input">
      <div class="home-date1">
        <input type="date" placeholder="Fecha" class="input book-input">
        <img alt="Calendario" src="/Icons/calendar-2.svg" class="home-image29">
      </div>
      <input type="text" placeholder="Práctica" class="input book-input">
      <div class="home-lower">
        <p class="home-text83">
          Completa el formulario y asegúrate de proporcionar información precisa
          para facilitar la programación de tu cita.
        </p>
        <div class="home-button">
          <button class="home-book7 button button-main">
            <span>Reservar</span>
          </button>
          <p class="home-text85">
            <span>Recibirás una confirmación de tu cita</span>
            <span class="home-text87">por correo electrónico</span>
            <span>, y cualquier detalle adicional</span>
            <span class="home-text89">será proporcionado.</span>
            <span>.</span>
          </p>
        </div>
      </div>
    </div>
  </div>
</section>;
</body></html>