{# featuresSection.njk #}

<div class="home-section7">
  <div class="home-content14">
    <div class="home-header23">
      <h2 class="home-heading20">
        Médicos dedicados con la misión principal de ayudar.
      </h2>
      <p class="home-capton1">
        Nos comprometemos a brindarte la mejor atención médica.
      </p>
    </div>
    <div class="read-more">
      <span class="home-text27">Conoce a nuestros médicos</span>
      <img
        alt="image"
        src="/Icons/arrow-2.svg"
        class="home-image24"
      />
    </div>
  </div>
  <img
    alt="image"
    src="/News/xray-1500w.png"
    class="home-image25"
  />
</div>
<div class="home-section8">
  <div class="home-content15">
    <div class="home-header24">
      <h2 class="home-heading21">
        Accede a pruebas especializadas e información innovadora.
      </h2>
      <p class="home-capton2">
        Te proporcionamos la información necesaria para tu salud.
      </p>
    </div>
    <div class="read-more">
      <span class="home-text28">Buscar pruebas</span>
      <img
        alt="image"
        src="/Icons/arrow-2.svg"
        class="home-image26"
      />
    </div>
  </div>
  <img
    alt="image"
    src="/News/lab-1500w.png"
    class="home-image27"
  />
</div>
<div class="home-section9">
  <div class="home-content16">
    <div class="home-header25">
      <h2 class="home-heading22">Descubre cómo podemos ayudarte.</h2>
      <p class="home-capton3">
        Estamos aquí para apoyarte en cada paso de tu camino hacia la salud.
      </p>
    </div>
    <button class="button button-main home-book4">
      <span>Reservar una cita virtual</span>
    </button>
  </div>
  <img
    alt="image"
    src="/News/examination-1500w.png"
    class="home-image28"
  />
</div>
<button class="home-book5 button button-main">
  <span>Reservar una cita virtual</span>
</button>
