{# heroAndFeatures.njk #}

<div class="home-main1">
  <div class="home-content10">
    <div class="home-heading17">
      <h1 class="home-header18">
        Médicos generales experimentados que cuidan de ti
      </h1>
      <p class="home-caption7">
        Nos dedicamos a brindarte la mejor atención médica posible.
      </p>
    </div>
    <button class="button button-main home-book3">
      <img
        alt="calendar icon"
        src="/Icons/calendar.svg"
        class="home-image20"
      />
      <span>Reservar una cita</span>
    </button>
  </div>
  <div class="home-image21">
    <img
      alt="doctor image"
      src="/News/doctor-image-1500w.png"
      class="home-image22"
    />
  </div>
</div>
<div
  id="features"
  class="home-features1"
>
  <div class="home-content11">
    <Features></Features>
    <Features title="Clínica Virtual"></Features>
    <Features title="Resultados Clínicos"></Features>
  </div>
</div>
<div class="home-background"></div>
