<html><head></head><body><div class="home-heading29">
        <h2 class="home-text94">Lee nuestras últimas noticias</h2>
        <p class="home-text95">
            Bienvenido a nuestro sitio. Aquí encontrarás las noticias más recientes sobre nuestra organización y eventos.
        </p>
    </div>
    <div class="home-list3">
        <div class="home-item1">
            <div class="home-image30">
                <img alt="imagen" src="/News/news-logo-1500w.png" class="home-image31">
            </div>
            <div class="home-content19">
                <div class="home-details1">
                    <span class="home-date2">23 de noviembre de 2022</span>
                    <p class="home-quick-description1">
                        Nos complace anunciar nuevas iniciativas que mejorarán la atención al cliente y la experiencia general.
                    </p>
                </div>
                <div class="read-more">
                    <span class="home-text96">Leer más</span>
                    <img alt="imagen" src="/Icons/arrow.svg" class="home-image32">
                </div>
            </div>
        </div>
        <div class="home-item2">
            <div class="home-image33">
                <img alt="imagen" src="/News/news-1-1500w.png" class="home-image34">
            </div>
            <div class="home-content20">
                <div class="home-details2">
                    <span class="home-date3">23 de noviembre de 2022</span>
                    <p class="home-quick-description2">
                        Nuestro equipo ha trabajado arduamente para implementar mejoras que beneficien a nuestros usuarios.
                    </p>
                </div>
                <div class="read-more">
                    <span class="home-text97">Leer más</span>
                    <img alt="imagen" src="/Icons/arrow-2.svg" class="home-image35">
                </div>
            </div>
        </div>
        <div class="home-item3">
            <div class="home-image36">
                <img alt="imagen" src="/News/news-2-1500w.png" class="home-image37">
            </div>
            <div class="home-content21">
                <div class="home-details3">
                    <span class="home-date4">23 de noviembre de 2022</span>
                    <p class="home-quick-description3">
                        Estamos emocionados de compartir que hemos recibido premios por nuestra excelencia en el servicio.
                    </p>
                </div>
                <div class="read-more">
                    <span class="home-text98">Leer más</span>
                    <img alt="imagen" src="/Icons/arrow-2.svg" class="home-image38">
                </div>
            </div>
        </div>
    </div>

</body></html>