{% set roleAlias = 'doctor' %} {% include "components/custom/customModal.njk" %}

<div id="container1">
  <div class="home-heading28">
    <h2 class="home-text91">Conoce a Nuestros {{ title }}s</h2>
    <p class="home-text92">
      Aquí puedes encontrar a nuestros médicos altamente calificados, listos
      para atenderte.
    </p>
  </div>
</div>
<div class="home-docs">{% include "pages/privatePages/users/index.njk" %}</div>
<script type="module">
  import { cardMedia } from './js/components/custom/cardMedia.js';
  import { cardsDataMediaSpeciality } from './js/data/index.js'; // Datos de las tarjetas

  // Generar tarjetas con datos predefinidos
  cardMedia('cardMediaContainer', cardsDataMediaSpeciality);
</script>

<div class="home-search2">
  <input
    type="text"
    placeholder="Buscar por nombre"
    class="home-textinput6 input book-input"
  />
  <button
    class="open-modal"
    data-size="medium"
    data-title="Título del Modal Medio"
  >
    Buscar Doctor
  </button>
</div>
