<div class="home-heading28">
  <h2 class="home-text91">Conoce a Nuestros {{ title }}s</h2>
  <p class="home-text92">
    Aquí puedes encontrar a nuestros médicos altamente calificados, listos para
    atenderte.
  </p>
</div>
<div class="home-list2">
  <div class="home-controls">
    <img
      alt="Anterior"
      src="/Icons/circle-arrow.svg"
      data-doctors="previous"
      class="arrow"
    />
  </div>
  {% include "pages/publicPages/docs.njk" %}
  <img
    alt="Siguiente"
    src="/Icons/circle-arrow.svg"
    data-doctors="next"
    class="home-forward arrow"
  />
</div>
<div class="home-search2">
  <input
    type="text"
    placeholder="Buscar por nombre"
    class="home-textinput6 input book-input"
  />
  <button class="button button-main home-book8">
    <span>Buscar doctor</span>
  </button>
</div>
