{% set isPublic=true %} {%set currentView='carousel'%}
<div class="home-heading18">
  <h2 class="home-text24">Nuestras Especialidades</h2>
  <p class="home-text25">
    Nos dedicamos a ofrecerte los mejores servicios en diversas áreas de la
    salud.
  </p>
</div>

<!-- Contenedor de especialidades (ya incluye el contenido) -->
<div
  id="docsContent"
  class="home-docs"
>
  {% include "pages/privatePages/specialty/verb/getAll.njk" %}
</div>

<button
  id="openModalBtn"
  class="add-button"
>
  Ver Especialidades
</button>

<!-- Modal -->
<div
  id="specialtiesModal"
  class="modal"
  style="display: none; opacity: 0"
>
  <div
    class="modal-content"
    id="modalContent"
  >
    <div class="modal-head">
      <h3 class="modal-title"></h3>
      <span
        class="close-button"
        id="closeButton"
        >×</span
      >
    </div>
    <div
      class="modal-body"
      id="modalBody"
    ></div>
  </div>
</div>

<div
  id="specialityContaine"
  class="contentContainer"
></div>
<script type="module">
  import { fetchSpecialty } from './js/services/loadFetchs.js';
  import { getState } from './js/reducers/state.js';
  import { renderItems } from './js/renders/renderItems.js';
  import { specialtyRenderer } from './js/renders/itemRender.js';
  import { openModal, closeModal } from './js/components/custom/modal.js';

  const headers = ['Nombre', 'Descripción', 'Estado'];
  let currentPage = 1;
  const specialtyPerPage = 9;
  const currentViewModal = 'card';

  const loadSpecialtiesData = async () => {
    try {
      // Cargar las especialidades
      await fetchSpecialty();
      const specialties = getState().specialties;

      // Renderizar las especialidades
      renderItems(
        currentViewModal,
        specialties,
        headers,
        currentPage,
        specialtyPerPage,
        'modalBody', // Aquí se pasaría al body del modal
        specialtyRenderer,
        'true'
      );
    } catch (error) {
      console.error('Error al cargar las especialidades:', error);
    }
  };

  // Botón para abrir el modal
  const openModalBtn = document.getElementById('openModalBtn');
  const closeModalBtn = document.getElementById('closeButton');
  const modal = document.getElementById('specialtiesModal');

  openModalBtn.addEventListener('click', async () => {
    // Cargar las especialidades cuando se haga clic en el botón
    await loadSpecialtiesData();

    // Abrir el modal con el título y el color de fondo deseado
    openModal(
      'specialtiesModal',
      'fullscreen',
      'Especialidades Médicas',
      '#f8f8f8'
    );
  });

  // Cerrar el modal cuando se haga clic en el botón de cierre
  closeModalBtn.addEventListener('click', () => {
    closeModal('specialtiesModal');
  });

  // Cerrar el modal si se hace clic fuera del contenido del modal
  window.addEventListener('click', (event) => {
    if (event.target === modal) {
      closeModal('specialtiesModal');
    }
  });
</script>
