{# scheduleAppointment.njk #}
<section id='schedule' class='home-schedule'>
  <div class='home-content17'>
    <div class='home-header26'>
      <h2 class='home-heading23'>
        Programa una cita, ya sea en persona o virtual, hoy
      </h2>
      <p class='home-caption9'>
        Encuentra el momento adecuado para ti. Podemos ayudarte a coordinar
        una cita conveniente. 
      </p>
    </div>
    <div class='home-types1'>
      <a
        href='#book'
        class='home-book-person1 button button-main button-white'
      >
        <span>Reservar cita en persona</span>
      </a>
      <button class='button button-main button-white home-book-person2'>
        <span>Reservar cita virtual</span>
      </button>
    </div>
  </div>
</section>
