<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0"
    />
    <title>{{ title }}</title>
  </head>
  <body class="show-hamburger">
    {{ route.icon }}

    <script src="/js/libraries/jquery.min.js"></script>

    <link
      rel="stylesheet"
      href="/css/styles.css"
    />
    <script
      type="module"
      src="/js/main.js"
      defer=""
    ></script>
    {% include 'components/common/Navbar/index.njk' %} {% include
    'components/common/Sidebar/index.njk' %}

    <div
      id="spinner"
      class="visible spinner"
    >
      <p
        id="countdown"
        class="blink"
      ></p>

      <button
        id="viewButton"
        class="hidden viewButton"
      >
        Ver
      </button>
    </div>

    <div
      id="layoutContainer"
      class="container hidden"
    >
      <div
        id="contentMain"
        class="contentMain"
      >
        <div
          id="contenToolbar"
          class="toolbar"
        ></div>
        {% block content %}
        <h2>Página inicial</h2>
        <p>Este es el contenido por defecto.</p>
        {% endblock %} {% block scripts %}
        <!-- Aquí se insertarán los scripts -->
        {% endblock %}
      </div>
    </div>

    <script type="module"></script>

    <style></style>
  </body>
</html>
