<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0"
    />
    <title>{{ title }}</title>
    {{
      route.icon
    }}

    <script src="/js/libraries/jquery.min.js"></script>

    <link
      rel="stylesheet"
      href="/css/fontawesome.min.css"
    />
    <link
      rel="stylesheet"
      href="/css/styles.css"
    />

    <script
      type="module"
      src="/js/main.js"
      defer
    ></script>
  </head>
  {% include 'components/common/Navbar/index.njk' %} {% include
  'components/common/Sidebar/index.njk' %}
  <body class="show-hamburger">
    <div class="container">
      {# Bloque donde se renderizará el contenido específico de cada ruta #} {%
      block content %}{% endblock %}
    </div>
  </body>
</html>
