<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0"
    />
    <title>{{ title }}</title>

    <script src="/js/libraries/jquery.min.js"></script>

    <link
      rel="stylesheet"
      href="/css/styles.css"
    />
    <script
      type="module"
      src="/js/main.js"
      defer=""
    ></script>
  </head>
  {% include 'components/common/Navbar/index.njk' %} {% include
  'components/common/Sidebar/index.njk' %}
  <body>
    {#
    <div
      id="bitcoin-price"
      class="floating-price"
    >
      Cargando...
    </div>
    #}
    <div
      id="spinner"
      class="viseble spinner"
    >
      <p
        id="countdown"
        class="blink"
      ></p>

      <button
        id="viewButton"
        class="hidden viewButton"
      >
        Ver
      </button>
    </div>
    <div class="toolbar"></div>
    <div
      id="layoutContainer"
      class="container hidden"
    >
      <div
        id="contentMain"
        class="contentMain"
      >
        {% block content %}
        <h2>Página inicial</h2>
        <p>Este es el contenido por defecto.</p>
        {% endblock %}
      </div>
    </div>
    {#
    <script type="module">
      import { renderPagination } from './js/components/common/pagination.js';
      import { renderHeader } from './js/components/common/header.js';

      const containerElement = document.getElementById('contentMain'); // Se corrige el ID correcto

      if (containerElement) {
        const headerHtml = renderHeader('Mi Página', true);
        const paginationHtml = renderPagination(5, 1); // Asegurar que se define la paginación

        containerElement.insertAdjacentHTML('afterbegin', headerHtml);
        containerElement.insertAdjacentHTML('beforeend', paginationHtml);
      } else {
        console.error('No se encontró el contenedor con id: contentMain');
      }
    </script>
    #}
  </body>
</html>
