
<!-- Modal de confirmación para eliminar usuario -->
<div id="deleteUserModal" class="modal" style="display: none">
  <div class="modal-content">
    <span class="close-button" onclick="Modal.close('#deleteUserModal')">&times;</span>
    <h2 class="modal-title"></h2>
    <p>¿Estás seguro de que deseas eliminar este Usuario?</p>
    <button id="confirmDeleteButton">Confirmar</button>
  </div>
</div>

