<html isEditable="true"><head isEditable="true"></head><body isEditable="true"><div id="deleteItemModal" class="modal" style="display: none" isEditable="true">
  <div class="modal-content" isEditable="true">
    <span class="close-button" onclick="Modal.close('#deleteItemModal')" isEditable="true">×</span>
    <h2 class="modal-title" isEditable="true"></h2>
    <p isEditable="true">¿Estás seguro de que deseas eliminar?</p>
    <button id="confirmDeleteButton" isEditable="true">Confirmar</button>
  </div>
</div>

</body></html>