<div
  id="genericModal"
  class="modal"
  style="display: none"
>
  <div class="modal-content">
    <div class="modal-head">
      <h2 class="modal-title">Detalles del Archivo</h2>
      <span
        class="close-button"
        onclick="Modal.close('#genericModal')"
        >&times;</span
      >
    </div>

    <label for="genericDescriptionInput">Descripción:</label>
    <input
      type="text"
      id="genericDescriptionInput"
      readonly
    />
    <!-- Solo lectura -->

    <!-- Imagen seleccionada actual -->
    <div class="image-container">
      <img
        id="genericCurrentImage"
        alt="Imagen actual"
        class="uploaded-image-edit"
      />
    </div>
  </div>
</div>
