<html isEditable="true"><head isEditable="true"></head><body isEditable="true"><div id="genericModal" class="modal" style="display: none" isEditable="true">
  <div class="modal-content" isEditable="true">
    <div class="modal-head" isEditable="true">
      <h2 class="modal-title" isEditable="true">Detalles del Archivo</h2>
      <span class="close-button" onclick="Modal.close('#genericModal')" isEditable="true">×</span>
    </div>

    <label for="genericDescriptionInput" isEditable="true">Descripción:</label>
    <input type="text" id="genericDescriptionInput" readonly="" isEditable="true">
    <!-- Solo lectura -->

    <!-- Imagen seleccionada actual -->
    <div class="image-container" isEditable="true">
      <img id="genericCurrentImage" alt="Imagen actual" class="uploaded-image-edit" isEditable="true">
    </div>
  </div>
</div>
</body></html>