<html isEditable="true"><head isEditable="true"></head><body isEditable="true"><div id="genericModal" class="modal" style="display: none" isEditable="true">
  <div class="modal-content" isEditable="true">
    <div class="modal-head" isEditable="true">
      <h2 class="modal-title" isEditable="true">Editar Archivo</h2>
      <span class="close-button" onclick="Modal.close('#deleteUserModal')" isEditable="true">×</span>
    </div>

    <input type="text" id="genericDescriptionInput" class="textInputHidden" isEditable="true">

    <!-- Imagen seleccionada actual -->
    <div class="image-container" isEditable="true">
      <img id="genericCurrentImage" alt="Imagen actual" class="uploaded-image-edit" isEditable="true">
    </div>

    <!-- Input de archivo oculto -->
    <input type="file" id="hiddenFileInput" style="display: none" isEditable="true">

    <button id="genericSaveButton" isEditable="true">Confirmar</button>
  </div>
</div>
</body></html>