{% extends "layouts/publicLayout.njk" %} {% block content %}
<!-- Contenedor de las tarjetas -->
<div id="cards-container"></div>
<!-- Contenedor de la paginación -->
<div id="pagination-container"></div>

<script type="module">
  import { customPagination } from './js/components/custom/pagination.js';
  import { generateCards } from './js/generate/generateCards.js';
  import { generateMockItems } from './js/mocks/index.js'; // ✅ Importamos la función

  document.addEventListener('DOMContentLoaded', function () {
    const totalItems = 100;
    const itemsPerPage = 12;
    const itemsPerRow = 4;
    let currentPage = 1;

    // Generar todos los elementos una vez
    const items = generateMockItems(totalItems);

    function loadPage(page) {
      currentPage = page;
      const itemsToShow = items.slice(
        (currentPage - 1) * itemsPerPage,
        currentPage * itemsPerPage
      );
      generateCards(itemsToShow, 'cards-container', itemsPerRow);
      customPagination(
        totalItems,
        currentPage,
        itemsPerPage,
        'pagination-container',
        items
      );
    }

    loadPage(currentPage);
  });
</script>

{% endblock %}
