<!-- views/modalContent.njk --><html isEditable="true"><head isEditable="true"></head><body isEditable="true"><div id="modal-content" isEditable="true">
    <span class="close-button" isEditable="true">×</span>
    <h2 isEditable="true">Editar Usuario</h2>
    <div id="modalFormContainer" isEditable="true">
        <!-- Aquí se cargará el formulario dinámicamente -->
    </div>
</div>
</body></html>