<!-- views/modalContent.njk -->
<div class="modal-content">
    <span class="close-button">&times;</span>
    <h2>Editar Usuario</h2>
    <div id="modalFormContainer">
        <!-- Aquí se cargará el formulario dinámicamente -->
    </div>
</div>
