<!-- views/components/rolesTable.njk --><html><head></head><body><div class="table-container">
    
            {% for role in items.roles %}
            
            {% endfor %}
        <table>
        <thead>
            <tr>
                <th>Nombre del Rol</th>
                <th>Permisos</th>
            </tr>
        </thead>
        <tbody><tr>
                <td>{{ role.name }}</td>
                <td>
                    <ul>
                        {% for permission in role.permissions %}
                        <li>{{ permission.name }}</li>
                        {% endfor %}
                    </ul>
                </td>
            </tr></tbody>
    </table>
</div>
</body></html>