<h1>Lista de Usuarios</h1>
<hr />

<!-- Botón para agregar un nuevo usuario -->
<button id="addUserButton">Agregar Usuario</button>

<section>
    <div id="userTableContainer"></div>
</section>

<div id="snackbar" class="snackbar"></div>

<!-- Modal para editar usuarios -->
<div id="editUserModal" class="modal">
    <div class="modal-content">
        <span class="close-button">&times;</span>
        <h2>Editar Usuario</h2>
        <div id="modalFormContainer"></div> <!-- Contenedor para el formulario -->
    </div>
</div>



<script>
$(document).ready(function() {
    
    fetchUsers();



    
    $(document).on('click', '.edit-button', function(e) {
        e.preventDefault();
        const userId = $(this).data('user-id');
        getUserInfo(userId); 
    });

    
    function fetchUsers() {
        $.ajax({
            url: '/users/getUsers',
            type: 'GET',
            success: renderUserTable,
            error: function(xhr) {
                console.error('Error al obtener los usuarios:', xhr);
            }
        });
    }

    
    function renderUserTable(users) {
        let tableHtml = `
            <table>
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Apellidos</th>
                        <th>Email</th>
                        <th>Género</th>
                        <th>Roles</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
        `;

        users.forEach(user => {
            let rolesHtml = '<ul>';
            user.roles.forEach(role => {
                rolesHtml += `<li>${role.name}</li>`;
            });
            rolesHtml += '</ul>';

            tableHtml += `
                <tr>
                    <td>${user.name}</td>
                    <td>${user.surnames}</td>
                    <td>${user.email}</td>
                    <td>${user.gender}</td>
                    <td>${rolesHtml}</td>
                    <td>
                        <button class="edit-button" data-user-id="${user._id}">Editar</button>
                        <button class="delete-button" data-user-id="${user._id}">Eliminar</button>
                    </td>
                </tr>
            `;
        });

        tableHtml += '</tbody></table>';
        $('#userTableContainer').html(tableHtml);

        
        $('.delete-button').click(function() {
            const userId = $(this).data('user-id');
            deleteUser(userId);
        });
    }

    
    function getUserInfo(userId) {
        $.ajax({
            url: `/users/showInfo/${userId}`,
            type: 'GET',
            success: function({ user, allRoles, isPasswordHashed }) {
                renderEditForm(user, allRoles, userId, isPasswordHashed);
                $('#editUserModal').fadeIn(); 
            },
            error: function() {
                showSnackbar('Error al obtener el formulario de edición', false);
            }
        });
    }


    function renderEditForm(user, allRoles, userId, isPasswordHashed) {
        const rolesHtml = allRoles.map(role => `
            <label>
                <input type="checkbox" name="roles" value="${role._id}" 
                    ${user.roles.some(userRole => userRole.name === role.name) ? 'checked' : ''}>
                ${role.name}
            </label>
        `).join('');

        $('#modalFormContainer').html(`
            <form id="userUpdateForm" data-user-id="${userId}">
                <label for="name">Nombre:</label>
                <input type="text" id="name" name="name" value="${user.name}" required ${isPasswordHashed ? 'disabled' : ''}>
                <label for="surnames">Apellidos:</label>
                <input type="text" id="surnames" name="surnames" value="${user.surnames}" required ${isPasswordHashed ? 'disabled' : ''}>
                <label for="email">Email:</label>
                <input type="email" id="email" name="email" value="${user.email}" required ${isPasswordHashed ? 'disabled' : ''}>
                <label for="gender">Género:</label>
                <select id="gender" name="gender" required ${isPasswordHashed ? 'disabled' : ''}>
                    <option value="masculino" ${user.gender === 'masculino' ? 'selected' : ''}>Masculino</option>
                    <option value="femenino" ${user.gender === 'femenino' ? 'selected' : ''}>Femenino</option>
                    <option value="otro" ${user.gender === 'otro' ? 'selected' : ''}>Otro</option>
                </select>
                <fieldset>
                    <legend>Roles:</legend>
                    ${rolesHtml}
                </fieldset>
                <button type="submit">Actualizar Usuario</button>
            </form>
        `);
    }


    $(document).on('submit', '#userUpdateForm', function(e) {
        e.preventDefault();
        const userId = $(this).data('user-id');

        const userData = {
            name: $('#name').val(),
            surnames: $('#surnames').val(),
            email: $('#email').val(),
            gender: $('#gender').val(),
            roles: $('input[name="roles"]:checked').map(function() {
                return this.value;
            }).get()
        };

        $.ajax({
            url: `/users/update/${userId}`,
            type: 'PUT',
            contentType: 'application/json',
            data: JSON.stringify(userData),
            success: function(response) {
                showSnackbar(response.message, true);
                fetchUsers(); 
                setTimeout(() => {
                    $('#editUserModal').fadeOut(); 
                }, 2000);
            },
            error: function(xhr) {
                const errorMessage = xhr.responseJSON && xhr.responseJSON.message ? xhr.responseJSON.message : 'Error al actualizar el usuario';
                showSnackbar(errorMessage, false);
            }
        });
    });

});


function deleteUser(userId) {
    if (confirm('¿Estás seguro de que quieres eliminar este usuario?')) {
        $.ajax({
            url: `/users/delete/${userId}`,
            type: 'DELETE',
            success: function(response) {
                showSnackbar(response.message, true);
                fetchUsers(); 
            },
            error: function(xhr) {
                const errorMessage = xhr.responseJSON && xhr.responseJSON.message ? xhr.responseJSON.message : 'Error al eliminar el usuario';
                showSnackbar(errorMessage, false);
            }
        });
    }
}

</script>
