<aside id="sidebar" class="sidebar">
    <div class='logo'>Empresa</div>
    <ul>
        {# Enlaces de rutas públicas #}
        {% for route in publicRoutes %}
            <li>
                <a href="{{ route.path }}" class="{% if route.subRoutes %}has-submenu{% endif %}">{{ route.title }}</a>
                {% if route.subRoutes %}
                    <ul class="submenu"> <!-- Clase para el submenú -->
                        {% for subRoute in route.subRoutes %}
                            <li class="submenu__item">
                                {# Verificar si subRoute.path está definido, si no usar el id #}
                                {% if subRoute.path %}
                                    <a href="{{ subRoute.path }}" class="submenuLink">{{ subRoute.title }}</a>
                                {% else %}
                                    <a href="{{ route.path }}#{{ subRoute.id }}" class="submenuLink">{{ subRoute.title }}</a>
                                {% endif %}
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </li>
        {% endfor %}

        {# Enlaces de rutas privadas #}
        {% if isAuthenticated %}
            {% for route in privateRoutes %}
                {% if hasAccess(userRoles, route) and route.title != 'Perfil' %}  {# Excluyendo "Configuración" #}
                    <li>
                        <a href="{{ route.path }}">
                            <i class="fas fa-hospital-alt"></i>
                            {{ route.title }}
                        </a>
                        {% if route.subRoutes %}
                            <ul class="submenu">
                                {% for subRoute in route.subRoutes %}
                                    {% if hasAccess(userRoles, subRoute) %}
                                        <li>
                                            <a href="{{ subRoute.path }}">
                                                <i class="fas fa-notes-medical"></i>
                                                {{ subRoute.title }}
                                            </a>
                                            {% if subRoute.subRoutes %}  {# Verifica si hay subrutas para este submenú #}
                                                <ul class="submenu">
                                                    {% for subSubRoute in subRoute.subRoutes %}
                                                        <li>
                                                            <a href="{{ subSubRoute.path }}">
                                                                <i class="fas fa-notes-medical"></i>
                                                                {{ subSubRoute.title }}
                                                            </a>
                                                        </li>
                                                    {% endfor %}
                                                </ul>
                                            {% endif %}
                                        </li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        {% endif %}
                    </li>
                {% endif %}
            {% endfor %}
        {% endif %}
    </ul>
</aside>
