<html isEditable="true"><head isEditable="true"></head><body isEditable="true"><section class="section {{ extraClasses }}" data-section-id="{{ sectionId }}" isEditable="true">
  <div class="section-content" isEditable="true">
    {% if title %}
    <h2 class="section-title" isEditable="true">{{ title }}</h2>
    {% endif %}

    <div class="section-body" isEditable="true">
      {{ content | safe }}
    </div>
  </div>
</section>
</body></html>