<html isEditable="true"><head isEditable="true"></head><body isEditable="true"><div id="deleteModal" class="modal" style="display: none" isEditable="true">
  <div class="modal-content" isEditable="true">
    <h2 class="modal-title" isEditable="true"></h2>
    <p id="deleteMessage" isEditable="true"></p>
    <div class="modal-actions" isEditable="true">
      <button id="confirmDelete" isEditable="true">Eliminar</button>
      <button id="cancelDeleteButton" isEditable="true">Cancelar</button>
    </div>
  </div>
</div>
</body></html>