<html><head></head><body><div id="deleteModal" class="modal" style="display: none">
  <div class="modal-content">
    <h2 class="modal-title"></h2>
    <p id="deleteMessage"></p>
    <div class="modal-actions">
      <button id="confirmDelete">Eliminar</button>
      <button id="cancelDeleteButton">Cancelar</button>
    </div>
  </div>
</div>
</body></html>