{% extends "layouts/privateLayout.njk" %}
<!-- Bloque de título -->
{% block content %}

<!-- pasaar  varialves al include-->
{% set roleAlias = 'admin' %}
{% include "pages/privatePages/users/index.njk" %}

{% endblock %}
