<!-- Plantilla hija: views/pages/privatePages/dashboard.njk -->
{% extends "layouts/privateLayout.njk" %}
<!-- Bloque de título -->
{% block userRoles %}chiefMedical{% endblock %} {% block content %}

<!-- pasaar  varialves al include-->
{% set roleAlias = 'chiefMedical' %}

<h1>{{title}}</h1>
<section>{% include "pages/privatePages/users/index.njk" %}</section>

{% endblock %}
