{% extends "layouts/privateLayout.njk" %} {% block content %}

<!-- Incluir contenido -->

{% set standardModal %} {% include "pages/privatePages/users/index.njk" %} {%
endset %}

{{ standardModal | safe }}

<!-- Enviar roleAlias con JavaScript -->
<script src="https://cdn.jsdelivr.net/npm/crypto-js@3.1.9-1/crypto-js.js"></script>
<script>
  // Declaramos el valor de `roleAlias` en JavaScript
  const roleAlias = 'doctor';

  // Cifrar el valor de `roleAlias` antes de almacenarlo
  const encryptedRoleAlias = CryptoJS.AES.encrypt(
    roleAlias,
    'secret-key'
  ).toString();

  // Almacenamos `encryptedRoleAlias` en localStorage
  localStorage.setItem('roleAlias', encryptedRoleAlias);

  // Verificamos que se ha almacenado correctamente el valor cifrado
  console.log(localStorage.getItem('roleAlias')); // Mostrará el valor cifrado
</script>

{% endblock %}
