
    <h1>Lista de Usuarios</h1>
    <div id="userTableContainer">
        <table>
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Correo</th>
                    <th>Teléfono</th>
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                    <tr>
                        <td>{{ user.name }}</td>
                        <td>{{ user.email }}</td>
                        <td>{{ user.surnames }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <script type="module">
        import { fetchUsers } from './js/apiUserManager.js';

        document.addEventListener('DOMContentLoaded', function () {
            fetchUsers(renderUserTable);
        });

        function renderUserTable(users) {
            let tableHtml = `
                <table>
                    <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Correo</th>
                                        <td>{{ user.surnames }}</td>
                        </tr>
                    </thead>
                    <tbody>
            `;

            users.forEach(user => {
                tableHtml += `
                    <tr>
                        <td>${user.name}</td>
                        <td>${user.email}</td>
                                          <td>{{ user.surnames }}</td>
                    </tr>
                `;
            });

            tableHtml += '</tbody></table>';
            document.getElementById('userTableContainer').innerHTML = tableHtml;
        }
    </script>
