<!-- Plantilla hija: views/pages/privatePages/dashboard.njk --><html><head></head><body>{% extends "layouts/privateLayout.njk" %}
<!-- Bloque de título -->
{% block content %}

<!-- pasaar  varialves al include-->
{% set roleAlias = 'patient' %}

<section>{% include "pages/privatePages/users/index.njk" %}</section>

{% endblock %}
</body></html>