{% extends "layouts/privateLayout.njk" %}

{% block content %}
  
          <h1>Página Pública</h1>
        <p>Bienvenido a la condifg.</p>
            {% include 'pages/privatePages/auth/profile.njk' %}
{% endblock %}
