{% extends "layouts/publicLayout.njk" %} {% block content %}
<button id="openModalBtn">Abrir Modal con Paginación</button>
<button id="openModalBtnActions">Abrir Modal con Acciones</button>

<div
  id="myModal"
  class="customModal"
>
  <div class="customModal-content">
    <div class="customModal-header">
      <h2 class="customModal-title"></h2>
      <span
        class="close-button"
        onclick="Modal.close('#myModal')"
        isEditable="true"
        >×</span
      >
    </div>
    <div
      class="customModal-body"
      id="modalBody"
    ></div>
    <!-- Este es el contenedor donde insertarás el contenido -->
    <div class="customModal-footer"></div>
  </div>
</div>

<script type="module">
  import { customModal } from './js/components/common/modal.js';
  import { generateMockItems } from './js/mocks/index.js'; // ✅ Importamos la función
  import { renderCards } from './js/renders/renderCards.js';

  document.getElementById('openModalBtn').addEventListener('click', () => {
    const mockItems = generateMockItems(100); // Generar los items de ejemplo
    const cardsContainer = renderCards(mockItems); // Llamamos a la función refactorizada

    // Abrir el modal pasando el contenido generado
    customModal(
      'myModal',
      'fullscreen',
      'Modal con Tarjetas',
      '#ffffff',
      mockItems,
      cardsContainer, // Se pasa el contenedor generado
      '',
      'pagination'
    );
  });

  document
    .getElementById('openModalBtnActions')
    .addEventListener('click', () => {
      const mockItems = generateMockItems(100);
      const cardsContainer = renderCards(mockItems); // Reutilizamos la función renderCards

      customModal(
        'myModal',
        'fullscreen',
        'Modal con Tarjetas',
        '#ffffff',
        cardsContainer,
        '',
        'actions'
      );
    });
</script>
{% endblock %}
