{% extends "layouts/publicLayout.njk" %} {% block content %}

<button id="openModalBtn">Abrir Modal</button>

<div
  id="myModal"
  class="customModal"
>
  <div class="customModal-content">
    <div class="customModal-header">
      <h2 class="customModal-title"></h2>
      <span
        class="close-button"
        onclick="Modal.close('#myModal')"
        >&times;</span
      >
    </div>
    <div class="customModal-body">
      ${Array(12).fill('
      <div class="card">Tarjeta</div>
      ').join('')}
    </div>
    <div class="customModal-footer">
      <button onclick="closeModal('myModal')">Cerrar Modal</button>
    </div>
  </div>
</div>
<script type="module">
  import { customModal } from './js/components/common/modal.js';

  document.getElementById('openModalBtn').addEventListener('click', () => {
    customModal(
      'myModal',
      'fullscreen',
      'Ejemplo Modal',
      '#ffffff',
      `
   
      ${Array(12).fill('<div class="card">Tarjeta</div>').join('')}
    `,
      '<button onclick="closeModal(\'myModal\')">Cerrar Modal</button>'
    );
  });
</script>
{% endblock %}
