<html><head></head><body>{% extends "layouts/publicLayout.njk" %} {% block content %}
 {% include "components/custom/customModal.njk" %}
<!-- modalButtons.html -->
<button class="open-modal" data-size="medium" data-title="Título del Modal Medio" data-show-actions="true">
  Abrir Modal (Medium) con Acciones
</button>
<button class="open-modal" data-size="fullwidth" data-title="Título del Modal Fullwidth" data-show-actions="false">
  Abrir Modal (Fullwidth) sin Acciones
</button>
<button class="open-modal" data-size="maxwidth" data-title="Título del Modal Maxwidth">
  Abrir Modal (Maxwidth) con Acciones
</button>
<button class="open-modal" data-size="fullscreen" data-title="Título del Modal Fullscreen">
  Abrir Modal (Fullscreen) con Acciones
</button>
<button class="open-modal" data-size="minheight" data-title="Título del Modal minheight" data-show-actions="true">
  Abrir Modal (minheight) con Acciones
</button>

{% endblock %}
</body></html>