<!-- Plantilla hija: views/pages/privatePages/dashboard.njk -->
{% extends "layouts/privateLayout.njk" %}
<!-- Bloque de título -->
{% block content %}

<!-- pasaar  varialves al include-->
{% set roleAlias = 'doctor' %}

<section>{% include "pages/privatePages/users/index.njk" %}</section>

{% endblock %}
