<html><head></head><body>{% extends "layouts/publicLayout.njk" %} {% block content %}

<div id="cardContainer"></div>
<!-- Contenedor para la tarjeta que contendrá el formulario -->
<div id="snackbar" class="snackbar"></div>

<script type="module">
  import { createCustomInputs } from './js/components/custom/input.js';
  import { createCard } from './js/components/custom/card.js';


    // Crear inputs personalizados para email y contraseña
    const inputConfigs = [
      {
        id: 'email',
        name: 'email',
        type: 'email',
        placeholder: 'Ingresa tu correo electrónico',
      },
      {
        id: 'password',
        name: 'password',
        type: 'password',
        placeholder: 'Ingresa tu contraseña',
      },
    ];

    // Crear la tarjeta que contendrá el formulario
    createCard(
      'cardContainer',
      'Inicio de Sesión',
      ` 
      <div class="logo-container">
        <div class="circle">
          <div class="rotating-text">
            <span>C</span>
            <span>L</span>
            <span>Í</span>
            <span>N</span>
            <span>I</span>
            <span>C</span>
            <span>A</span>
            <span>1</span>
            <span>G</span>
            <span>R</span>
            <span>A</span>
            <span>N</span>
          </div>
          <div class="inner-border"></div>
          <div class="center-text">Potosí</div>
        </div>
      </div>
      <form id="loginForm">
        <div class="input-content">
          <div id="dynamicInputs"></div>
          <button type="submit">Ingresar</button>
        </div>
      </form>
      `
    );

    // Agregar los inputs al formulario
    const dynamicInputs = document.getElementById('dynamicInputs');
    dynamicInputs.appendChild(createCustomInputs(inputConfigs));

    const form = document.querySelector('#loginForm');

    form.addEventListener('submit', async (event) => {
      event.preventDefault();

      const email = document.querySelector('#email').value;
      const password = document.querySelector('#password').value;

      try {
        const response = await fetch('/auth/login', {
          method: 'POST',
          headers: { 'Content-Type': 'application/json' },
          body: JSON.stringify({ email, password }),
        });

        if (response.ok) {
          const data = await response.json();
          localStorage.setItem('token', data.token);
          localStorage.setItem('user', JSON.stringify(data.user));
          localStorage.setItem('isAuthenticated', data.isAuthenticated);
          window.location.href = '/dashboard';
        } else {
          const errorData = await response.json();
          // Mostrar mensaje de error usando el snackbar
          showSnackbar(errorData.message, false); // Mensaje de error
        }
      } catch (error) {
        console.error('Error en la solicitud de inicio de sesión:', error);
        // Mostrar mensaje de error genérico
        showSnackbar('Error en la conexión. Inténtalo de nuevo.', false);
      }
    });
  
</script>

{% endblock %}
</body></html>