{% extends "layouts/publicLayout.njk" %} {% block content %}

<div class="main">
  <div class="form-container-signin">
    <div class="logo-container">
      <div class="circle">
        <div class="rotating-text">
          <span>C</span>
          <span>L</span>
          <span>Í</span>
          <span>N</span>
          <span>I</span>
          <span>C</span>
          <span>A</span>
          <span>1</span>
          <span>G</span>
          <span>R</span>
          <span>A</span>
          <span>N</span>
        </div>
        <div class="center-text">
          <p>Potosí</p>
        </div>
      </div>
    </div>
    <form
      id="loginForm"
      class="form-action"
      method="POST"
    >
      <div class="input-content">
        {% if isAuthenticated %}
        <p>Bienvenido, {{ username }}</p>
        <p>Token: {{ token }}</p>
        {% else %}
        <p>No estás autenticado.</p>
        {% endif %}

        <input
          type="email"
          id="email"
          name="email"
          placeholder="Ingresa tu correo electrónico"
          required
        />
        <input
          type="password"
          id="password"
          name="password"
          placeholder="Ingresa tu contraseña"
          required
        />
      </div>
      <!-- Mensaje de error -->
      <div class="error-message"></div>

      <button
        type="submit"
        class="send"
      >
        Ingresar
      </button>
    </form>
  </div>
</div>

<script>
  // Obtener el formulario de login
  const form = document.querySelector('.form-action');
  const errorMessageDiv = document.querySelector('.error-message');

  // Escuchar el evento de submit
  form.addEventListener('submit', async (event) => {
    event.preventDefault(); // Evitar recargar la página
    errorMessageDiv.textContent = ''; // Limpiar mensaje de error anterior

    // Obtener los valores de los campos
    const email = document.querySelector('#email').value;
    const password = document.querySelector('#password').value;

    try {
      // Realizar la solicitud de login con fetch
      const response = await fetch('/auth/login', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json',
        },
        body: JSON.stringify({ email, password }),
      });

      // Verificar si la respuesta es exitosa
      if (response.ok) {
        const data = await response.json();

        // Almacenar el token en localStorage
        localStorage.setItem('token', data.token);
        // Almacenar la información del usuario si es necesario
        localStorage.setItem('user', JSON.stringify(data.user));
        localStorage.setItem('isAuthenticated', data.isAuthenticated);

        // // Redirigir al dashboard
        // window.location.href = '/dashboard';
        // Redirigir al dashboard y evitar que vuelvan a la página de login
        // history.replaceState(null, null, '/dashboard');
        window.location.href = '/dashboard';
      } else {
        const errorData = await response.json();
        errorMessageDiv.textContent = errorData.message; // Mostrar el mensaje de error
      }
    } catch (error) {
      console.error('Error en la solicitud de inicio de sesión:', error);
      errorMessageDiv.textContent = 'Error en la conexión. Inténtalo de nuevo.'; // Mensaje genérico de error
    }
  });
</script>

{% endblock %}
