<!-- Plantilla hija: views/pages/privatePages/dashboard.njk -->
{% extends "layouts/privateLayout.njk" %}
<!-- Bloque de título -->

{% block content %} {% block title %}Roles{% endblock %}

<section>
  <!-- Aquí se incluiría el componente de fetch para obtener los Roles -->
  <!-- Aquí se incluiría el componente de renderizar los Roles -->
  {% include "pages/privatePages/role/verb/getAll.njk" %}
</section>

{% endblock %}
