<!-- views/partials/button.njk --><html isEditable="true"><head isEditable="true"></head><body isEditable="true">{% block button %}
  <button type="{{ type }}" class="{{ class }}" isEditable="true">
    <span isEditable="true">
      <span class="thq-body-small" isEditable="true">{{ text }}</span>
    </span>
  </button>
{% endblock %}
</body></html>