<!-- views/partials/button.njk --><html><head></head><body>{% block button %}
  <button type="{{ type }}" class="{{ class }}">
    <span>
      <span class="thq-body-small">{{ text }}</span>
    </span>
  </button>
{% endblock %}
</body></html>