<!-- views/partials/button.njk -->
{% block button %}
  <button type="{{ type }}" class="{{ class }}">
    <span>
      <span class="thq-body-small">{{ text }}</span>
    </span>
  </button>
{% endblock %}
