<html isEditable="true"><head isEditable="true"></head><body isEditable="true"><svg viewBox="{{ viewBox }}" class="{{ class }}" isEditable="true">
  <path d="{{ pathData }}" isEditable="true"></path>
</svg>
</body></html>