<html isEditable="true"><head isEditable="true"></head><body isEditable="true"><div class="{{ containerClass }}" isEditable="true">
  <label for="{{ id }}" class="thq-body-large" isEditable="true">{{ label }}</label>
  <input type="{{ type }}" id="{{ id }}" required="{{ required ? 'true' : 'false' }}" placeholder="{{ placeholder }}" class="{{ inputClass }}" isEditable="true">
</div>
</body></html>