<div class="{{ containerClass }}">
  <label for="{{ id }}" class="thq-body-large">{{ label }}</label>
  <input
    type="{{ type }}"
    id="{{ id }}"
    required="{{ required ? 'true' : 'false' }}"
    placeholder="{{ placeholder }}"
    class="{{ inputClass }}"
  />
</div>
