<html><head></head><body>{% extends "layouts/privateLayout.njk" %}

{% block content %}
<h1>Lista de Roles</h1>
<hr>


<section>
    <div id="roleTableContainer"></div> <!-- Contenedor donde se renderizará la tabla de roles -->
</section>

<!-- Snackbar para mostrar mensajes -->
<div id="snackbar" class="snackbar"></div>


<script type="module">
import { renderTable } from '../js/components/common/table.js'; 
import { renderPagination } from '../js/components/common/pagination.js'; 

$(document).ready(function() {
    let currentPage = 1; 
    const usersPerPage = 5; 
    let allUsers = []; 
    let userToDelete = null; 

    
    const headers = ['Nombre', 'Apellidos', 'Correo', 'Contraseña','Género' ,'Roles'];

    
    fetchUsers();



    function fetchUsers() {
        apiFetch('/users/getUsers', 'GET')
            .then(response => {
                console.log('Respuesta de la API:', response);
                allUsers = response.users; 
                console.log('Roles cargados:', allUsers); 
                renderUsers(); 
            })
            .catch(function(xhr) {
                console.error('Error al obtener los roles:', xhr);
                showSnackbar('Error al cargar los roles', false);
            });
    }

    
        
    function renderUsers() {
        const tableData = allUsers.map(user => ({
            _id: user._id, 
            name: user.name,
            lastname: user.lastname,
            email: user.email,
            password: user.password,
            gender: user.gender,
            roles: user.roles.map(role => role.name).join(', '), 
        }));

        
        const tableHtml = renderTable(headers, tableData, currentPage, usersPerPage);
        $('#roleTableContainer').html(tableHtml);

        
        const paginationHtml = renderPagination(currentPage, allUsers.length, usersPerPage, handlePageChange);
        $('#roleTableContainer').append(paginationHtml); 
    }

    
    function handlePageChange(newPage) {
        currentPage = newPage; 
        renderUsers(); 
    }

    
    $(document).on('click', '.page-button', function() {
        const newPage = parseInt($(this).data('page'));
        handlePageChange(newPage);
    });


});
</script>

{% endblock %}
</body></html>