
<div id="{{modalId}}" class="customModal">

  <div class="customModal-content">
    <div class="customModal-header">
      <h2 class="customModal-title"></h2>
      <span
        class="close-button"
        onclick="Modal.close('#myModal')"
        isEditable="true"
        >×</span
      >
    </div>
    <div
      class="customModal-body"
      id="modalBody"
    ></div>
    <!-- Este es el contenedor donde insertarás el contenido -->
    <div class="customModal-footer"></div>
  </div>
</div>