<!-- Modal de confirmación para eliminar usuario --><html isEditable="true"><head isEditable="true"></head><body isEditable="true"><div class="custom-popper" id="userActionsPopover" style="display: none;" isEditable="true">
  <div class="popover-content" isEditable="true">

    <div id="popoverActions" isEditable="true"></div>
  </div>
</div>
</body></html>