<!-- Modal de confirmación para eliminar usuario --><html><head></head><body><div class="custom-popper" id="userActionsPopover" style="display: none;">
  <div class="popover-content">

    <div id="popoverActions"></div>
  </div>
</div>
</body></html>