<!-- modalButtons.html --><html isEditable="true"><head isEditable="true"></head><body isEditable="true"><button class="open-modal" data-size="medium" data-title="Título del Modal Medio" data-show-actions="true" isEditable="true">
  Abrir Modal (Medium) con Acciones
</button>
<button class="open-modal" data-size="fullwidth" data-title="Título del Modal Fullwidth" data-show-actions="false" isEditable="true">
  Abrir Modal (Fullwidth) sin Acciones
</button>
<button class="open-modal" data-size="maxwidth" data-title="Título del Modal Maxwidth" isEditable="true">
  Abrir Modal (Maxwidth) con Acciones
</button>
<button class="open-modal" data-size="fullscreen" data-title="Título del Modal Fullscreen" isEditable="true">
  Abrir Modal (Fullscreen) con Acciones
</button>
<button class="open-modal" data-size="minheight" data-title="Título del Modal minheight" data-show-actions="true" isEditable="true">
  Abrir Modal (minheight) con Acciones
</button>
</body></html>