


button {
  background-color: #021830;
  color: white; 
  font-weight: bold;
  border: 1px solid white;
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 5px; 
}

button:hover {
  background-color: #cbd4dd; 
  color: #050505;
}

button.send {
  background-color: #021830;

  color: white;
  padding: 10px 15px;
  margin: 0px 100px;
  border: 1px solid white;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button.send:hover {
  background-color: #cbd4dd; 
  color: #050505;
}
