/* Estilos para el contenedor de la tarjeta */
#cardContainer {
  display: flex;
  padding: 1rem;
  justify-content: center; /* Centra la tarjeta horizontalmente */
  align-items: center; /* Centra la tarjeta verticalmente */
  min-height: 100vh; /* Altura mínima para centrar en la página */
  background-color: #0e0229; /* Color de fondo de la página */
  border-radius: 1rem;
}
/* Estilos para el contenedor de la tarjeta */
.card-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 4 columnas */
  gap: 1.25rem; /* Espacio entre las tarjetas */
  padding: 0.5rem;
  justify-items: center; /* Centra las tarjetas dentro de cada celda */
  background-color: #f4f4f4; /* Color de fondo de la página */
  border-radius: 1rem;
  min-height: 100vh; /* Altura mínima para centrar en la página */
}

/* Estilos de la tarjeta */
.cardContent {
  display: flex;
  flex-direction: column;
  background-color: #f7f7f7; /* Color de fondo de la tarjeta */
  border-radius: 0.5rem; /* Bordes redondeados */
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1); /* Añade sombra */
  transition: box-shadow 0.3s ease; /* Efecto de transición para la sombra */
  justify-content: space-between;
  width: 25rem; /* Ancho de la tarjeta (300px) */
  overflow: hidden; /* Evita que el contenido se desborde */
  margin: 1rem; /* Margen alrededor de la tarjeta (20px) */
}

/* Estilos del encabezado de la tarjeta */
.card-header {
  background-color: #091526; /* Color de fondo de la tarjeta */
  color: #ffffff; /* Color del texto */
  justify-content: space-between;
  display: flex;
  padding: 0.9375rem; /* Espaciado interno (5px 15px) */
  text-align: center; /* Centrar el texto */
}

.card-header h5 {
  font-size: 1.25rem; /* Tamaño de la fuente (20px) */
  margin: 0; /* Elimina el margen */
}

/* Estilos del cuerpo de la tarjeta */
.card-body {
  flex: 1; /* Ocupar el espacio restante */
  font-size: 1rem;
  color: #060843;
}
.cardFooter {
  background-color: #091526; /* Color de fondo de la tarjeta */
  color: #ffffff; /* Color del texto */
  justify-content: space-between;
  display: flex;
  padding: 0.9375rem; /* Espaciado interno (5px 15px) */
  align-items: center;
}
.card-body {
  padding: 0.3125rem 0.9375rem;
  text-align: center;
  font-size: 1.125rem;
  color: #060843;
  overflow-y: auto;
  max-height: 4rem; /* Ajusta la altura máxima para evitar desbordamientos */
}

.card-field {
  white-space: nowrap; /* Evita que el texto se divida en varias líneas */
  overflow: hidden; /* Oculta el desbordamiento */
  text-overflow: ellipsis; /* Muestra "..." cuando el texto es demasiado largo */
  width: 100%; /* Asegura que el contenedor tome todo el ancho disponible */
  display: block;
}
