.modal {
  display: none;
  position: fixed;
  z-index: 1;
  justify-content: center;
  align-items: center;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
  transition: opacity 0.3s ease;
}

.modal-content {
  background-color: #0d0238;

  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  border-radius: 15px;
  transition: all 0.3s ease;
}

.modal-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal-body {
  margin: 20px 0;
}

.modal-actions {
  display: flex;
  justify-content: flex-end;
  margin: auto;
}
.modal-content.small {
  width: 40%;
}

.modal-content.medium {
  width: 80%;
}

.modal-content.fullwidth {
  width: 100%;
}

.modal-content.maxwidth {
  width: 90%;
}
.modal-content.minheight {
  min-height: 600px;
  padding: 30px;

  background-color: #1a0542;
  justify-content: center;
  align-items: center;
  margin: 10px;
  color: rgb(224, 213, 213);
}

.modal-content.fullscreen {
  width: 100%;
  height: 100%;
  margin: 0;
  border-radius: 0;
  top: 0;
  left: 0;

  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: none;
}

.close-button {
  cursor: pointer;
  font-size: 24px;
  font-weight: bold;
}
