/* Estilos generales del header */
header {
  position: fixed;
  padding: 0.1px;
  width: 100%;

  background-color: #0b7ef1;
  z-index: 1500;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid white;
  background-color: #0a71d8;
  padding: 10px 5px;
}

/* Estilos para la navegación pública */
.publicNav {
  background-color: #011026; /* Color para el navbar público */
}

/* Estilos específicos para las rutas privadas */
.privateNav {
  background-color: #001a33; /* Color para el navbar privado */
  color: white;
  border: none;
}

/* Submenús */
.submenuContainer {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s ease;
}

.navbar__links li:hover .submenuContainer {
  visibility: visible;
  opacity: 1;
}

.submenuNav {
  border-radius: 5px;
  display: flex;
  white-space: nowrap;
  position: absolute;
  padding: 0;
  background-color: #010107;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  z-index: 1000;
}

.navbar__links li:hover .submenuNav {
  flex-direction: column;
  list-style-type: none;
}

.navbar__links li:hover .submenuNav.horizontal {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
  list-style-type: none;
}

.submenuNav li {
  margin: 0 10px;
  padding: 0;
  transition: background-color 0.5s ease;
}

.submenuNav li a {
  padding: 10px 15px;
  color: white;
  text-decoration: none;
  font-size: smaller;
}

.submenuNav li a:hover {
  background-color: #555;
  border-radius: 5px;
}

.navbar__links {
  display: flex;
  list-style-type: none;
  margin: 0;
  justify-content: space-between; /* Mantiene el espacio entre los elementos */
  flex-wrap: nowrap;
}

.navbar__links li {
  margin: 0;
}

.navbar__links li a {
  color: white;
  text-decoration: none;
  padding: 10px 15px;
  display: block;
}

.navbar__links li a:hover {
  background-color: #555;
  border-radius: 5px;
}

/* Estilos para móviles */
@media (max-width: 768px) {
  /* El navbar público se convierte en columna en móviles */
  .publicNav .navbar__links {
    display: none;
    flex-direction: column; /* Los enlaces en publicNav se convierten en columna */
    width: 100%;
    background-color: #031c35;
    position: absolute;
    top: 40px;
    left: 0;
    z-index: 1500;
  }
  .menu-container {
    display: flex;
    justify-content: center;
    background-color: #010107;
    width: 100%;
    align-items: center;
  }
  .publicNav .navbar__links.active {
    display: flex;
  }

  /* Mantener disposición horizontal en privateNav en móviles */
  .privateNav .navbar__links {
    display: flex;
    flex-direction: row; /* Mantiene los enlaces en fila (horizontal) */
  }

  .submenuNav {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding-right: 20px;
  }

  .submenuNav.active {
    display: flex;
    flex-direction: column;
    padding-right: 20px;
    gap: 10px;
    width: 100%;
    background-color: #010107;
    position: absolute;
  }
}
