
.sidebar {
  position: fixed;
  left: -250px;
  top: 0;
  width: 250px;
  height: 100%;
  border-radius: 5px;
  background-color: #001f3f; 
  transition: 0.3s;
  display: flex;
  flex-direction: column; 
}

.logo {
  border: 1px solid #ffffff;
  margin: 10px;
  padding: 20px;
  display: flex;
  justify-content: center;
  color: #ffffff;
  align-items: center;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
  flex-grow: 1; 
}

.sidebar ul li {
  padding: 10px;
  text-align: left;
  position: relative; 
}

.sidebar ul li a i {
  margin-right: 10px; 
}

.sidebar ul li a {
  color: white;
  padding: 10px;
  text-decoration: none;
  display: flex; 
  align-items: center; 
}

.sidebar ul li a:hover {
  background-color: #0c0320;
}


.sidebar.active {
  left: 0;
}


.submenu {
  display: none; 
  position: relative; 
  left: 0; 
  background-color: #0c032e; 
  z-index: 1000; 
}
.logout-link {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-decoration: none;
  padding: 10px 0;
  background-color: #001f3f; 
  transition: background-color 0.3s ease;
}

.logout-link:hover {
  background-color: #ff4136; 
}

@media (min-width: 769px) {
  .sidebar ul li:hover .submenu {
    display: block; 
  }
}

.sidebar ul li.active > a {
  background-color: #555555; 
}
.icon {
    margin-right: 8px; 
    width: 20px; 
    height: 20px;
    display: inline-block; 
    fill: currentColor; 
}



@media (max-width: 768px) {
  .sidebar {
    width: 250px; 
    left: -250px; 
    transition: left 0.5s ease; 
    z-index: 1000;
  }

  .sidebar.active ~ .container {
    margin-left: 0px; 
  }

  
  .submenu {
    display: none; 
  }

  
  .submenu.active {
    display: block; 
  }
}
