.sidebar {
  position: fixed;
  left: -250px;
  top: 0;
  width: 250px;
  height: 100%;
  border-radius: 5px;
  background-color: #001f3f;
  transition: 0.3s;
  display: flex;
  flex-direction: column;
  z-index: 1500;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* Sombra suave */
}

/* Habilita el desplazamiento vertical en el ul */
.sidebar ul {
  list-style-type: none;

  padding: 0;
  margin: 0; /* Eliminar márgenes para un mejor control del scroll */
  flex-grow: 1; /* Permitir que el ul use todo el espacio disponible */
  overflow-y: auto; /* Habilitar el desplazamiento vertical aquí */
  height: calc(
    100% - 60px
  ); /* Ajustar la altura para dejar espacio para el logo */
}

/* Estilos para la barra de desplazamiento del ul */
.sidebar ul::-webkit-scrollbar {
  width: 8px; /* Ancho de la barra de desplazamiento */
}

.sidebar ul::-webkit-scrollbar-track {
  background: #001f3f; /* Color del track igual al fondo del sidebar */
  border-radius: 10px; /* Esquinas redondeadas del track */
}

.sidebar ul::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.5); /* Color del thumb con opacidad */
  border-radius: 10px; /* Esquinas redondeadas del thumb */
  transition: background 0.3s; /* Suaviza la transición del color */
}

.sidebar ul::-webkit-scrollbar-thumb:hover {
  background: white; /* Color del thumb al pasar el ratón */
}

.logo {
  border: 1px solid #ffffff;

  padding: 20px;
  display: flex;
  justify-content: center;
  background-color: #001f3f;
  color: #ffffff;
  align-items: center;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
  flex-grow: 1;
}

.sidebar ul li {
  padding: 10px;
  text-align: left;
  position: relative;
}

.sidebar ul li a i {
  margin-right: 10px;
}

.sidebar ul li a {
  color: white;
  padding: 10px;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.sidebar ul li a:hover {
  background-color: #ffffff;
  cursor: pointer;
  color: #001f3f;
  border-radius: 0.5rem;
}

.sidebar.active {
  left: 0;
}

/* Estilo para los enlaces activos */
.sidebar ul li.active > a {
  background-color: #ffffff;
  cursor: pointer;
  color: #001f3f;
  border-radius: 0.5rem;
}

.submenu {
  display: none;
  position: relative;
  left: 0;
  background-color: #0c032e;
  z-index: 1000;
}

.submenu.active {
  display: block; /* Mostrar el submenú activo */
}

.logout-link {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-decoration: none;
  width: 100%;
  padding: 10px 0;
  background-color: #001f3f;
  transition: background-color 0.3s ease;
}

.logout-link:hover {
  background-color: #ff4136;
}

.icon {
  margin-right: 8px;
  width: 20px;
  height: 20px;
  display: inline-block;
  fill: currentColor;
}

@media (min-width: 769px) {
  .sidebar ul li:hover .submenu {
    display: block; /* Mostrar el submenú al pasar el ratón */
  }
}

/* Opcional: Ajustar estilos en móviles para una mejor experiencia */
@media (max-width: 768px) {
  .sidebar ul li .submenu {
    display: none; /* Asegúrate de que el submenú esté oculto inicialmente */
  }

  .sidebar ul li.active .submenu {
    display: block; /* Mostrar submenú si el padre está activo */
  }
}
