/* Contenedor para el loader en línea */
.spinner-container {
  position: fixed; /* Fijo en la pantalla */
  top: 0; /* Desde la parte superior */
  left: 0; /* Desde la izquierda */
  width: 100%; /* Ocupa todo el ancho */
  height: 100%; /* Ocupa toda la altura */
  background-color: rgba(255, 255, 255, 0.8); /* Fondo semitransparente */
  display: flex; /* Usar flexbox */
  justify-content: center; /* Centrar horizontalmente */
  align-items: center; /* Centrar verticalmente */
}
/* Ocultar el elemento */
.hidden {
  display: none;
}

/* Mostrar el elemento (ya sea el spinner o el layout) */
.visible {
  display: flex;
}
.spinner {
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #00162e;

  z-index: 50;
}
.spinner p {
  color: #fafafa;
  font-weight: bold;

  font-size: 2em; /* Tamaño del contador */
  margin-bottom: 10px;
}

#viewButton {
  margin-top: 15px;
  padding: 10px 20px;
  font-size: 1em;
  cursor: pointer;
  border: none;
  background-color: #09035d;
  color: #fff;
  border-radius: 5px;
}
#viewButton:hover {
  background-color: #15024e;
}

/* Animación de parpadeo */
@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.blink {
  animation: blink 1s infinite; /* Parpadeo cada segundo */
}
