.table-container {
  background-color: #001f3f;
  color: white;
  padding: 20px;
  border-radius: 5px;
  overflow-x: auto; /* Hacer la tabla desplazable horizontalmente en pantallas pequeñas */
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}
th,
td {
  border: 1px solid white;
  padding: 10px;
  text-align: left;
}

th {
  background-color: #0056b3; /* Azul medio para encabezados */
}
/* Estilos responsivos para tablas en móvil */
@media (max-width: 768px) {
  th,
  td {
    padding: 5px; /* Reducir el padding en móviles */
    font-size: 14px; /* Ajustar el tamaño del texto */
  }

  table {
    width: 100%; /* Mantener la tabla a lo largo del contenedor */
  }
}
