.table-container {
  background-color: #001f3f;
  color: white;

  border-radius: 5px;
  overflow: auto;
}

table {
  width: 100%;
  height: auto !important;
  border-collapse: collapse;
  margin-top: 1rem;
}

th,
td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
  color: #160443;
}

tr:hover {
  background-color: #f1f1f1;
  color: #160443;
}

@media (max-width: 768px) {
  th,
  td {
    padding: 5px;
    font-size: 14px;
  }

  table {
    width: 100%;
  }
}
