<!-- Plantilla hija: views/pages/privatePages/dashboard.njk -->
{% extends "layouts/privateLayout.njk" %}
<!-- Bloque de título -->

{% block content %} {% block title %}Especialides{% endblock %}

<section>{% include "pages/privatePages/specialty/verb/getAll.njk" %}</section>

{% endblock %}
