{% extends "layouts/privateLayout.njk" %}
<!-- Bloque de título -->

{% block content %} {% set currentView= 'card' %}

<section>{% include "pages/privatePages/specialty/verb/getAll.njk" %}</section>

{% endblock %}
