<div class="profile-actions">
    <button
      type="button"
      class="button"
      id="editButton"
    >
      Modificar
    </button>
    <button
      type="button"
      class="button"
      style="display: none"
      id="cancelButton"
    >
      Cancelar
    </button>
    <button
      type="submit"
      class="button"
      style="display: none"
      id="updateButton"
    >
      Actualizar
    </button>
  </div>