<html isEditable="true"><head isEditable="true"></head><body isEditable="true"><div class="profile-actions" isEditable="true">
    <button type="button" class="button" id="editButton" isEditable="true">
      Modificar
    </button>
    <button type="button" class="button" style="display: none" id="cancelButton" isEditable="true">
      Cancelar
    </button>
    <button type="submit" class="button" style="display: none" id="updateButton" isEditable="true">
      Actualizar
    </button>
  </div></body></html>