<div class="upload-section">
    <h3>Archivos Subidos</h3>
    <div
      id="uploadsList"
      class="uploads-list"
    >
      <!-- Aquí se mostrarán los archivos subidos -->
    </div>
    <input
      type="file"
      id="uploadInput"
      class="transparent-input"
    />
    <button
      type="button"
      id="uploadButton"
      class="button"
    >
      Subir Archivo
    </button>
  </div>