<html isEditable="true"><head isEditable="true"></head><body isEditable="true"><div class="upload-section" isEditable="true">
    <h3 isEditable="true">Archivos Subidos</h3>
    <div id="uploadsList" class="uploads-list" isEditable="true">
      <!-- Aquí se mostrarán los archivos subidos -->
    </div>
    <input type="file" id="uploadInput" class="transparent-input" isEditable="true">
    <button type="button" id="uploadButton" class="button" isEditable="true">
      Subir Archivo
    </button>
  </div></body></html>