<html><head></head><body><div classname="home-footer">
        <div classname="home-left2">
          <div classname="home-brand">
            <img alt="image" src="/Branding/logo-2.svg" classname="home-image42">
            <p classname="home-text102">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt.
            </p>
          </div>
          <div classname="home-socials">
            <div classname="social">
              <img alt="image" src="/Icons/insider.svg" classname="home-image43">
            </div>
            <div classname="social">
              <img alt="image" src="/Icons/instagram.svg" classname="home-image44">
            </div>
            <div classname="social">
              <img alt="image" src="/Icons/twitter.svg" classname="home-image45">
            </div>
          </div>
          <div classname="home-legal1">
            <span classname="home-copyright1">
              © 2022 finbest. All Rights Reserved.
            </span>
            <span classname="legal-link">Privacy Policy</span>
            <span classname="legal-link">Terms of Use</span>
          </div>
        </div>
        <div classname="home-right2">
          <div classname="home-list4">
            <span classname="home-header27">Menu</span>
            <div classname="home-links2">
              <span classname="home-link14">Home</span>
              <span classname="home-link15">About</span>
              <span classname="home-link16">Services</span>
              <span classname="home-link17">Blog</span>
              <span classname="home-link18">Support</span>
            </div>
          </div>
          <div classname="home-list5">
            <span classname="home-header28">Resources</span>
            <div classname="home-links3">
              <span classname="home-link19">Test Results</span>
              <span classname="home-link20">Patients</span>
              <span classname="home-link21">Doctors</span>
              <span classname="home-link22">Health</span>
            </div>
          </div>
          <div classname="home-list6">
            <span classname="home-header29">Contact</span>
            <div classname="home-links4">
              <span classname="home-link23">
                24 Street Name, City FI 01234, RO
              </span>
              <a href="mailto:contact@template.new?subject=Main" classname="home-link24">
                contact@template.new
              </a>
              <a href="tel:(004) 234 - 5678" classname="home-link25">
                (004) 234 - 5678
              </a>
            </div>
          </div>
        </div>
        <div classname="home-legal2">
          <div classname="home-row4">
            <span classname="legal-link">Privacy Policy</span>
            <span classname="legal-link">Terms of Use</span>
          </div>
          <span classname="home-copyright6">
            © 2022 finbest. All Rights Reserved.
          </span>
        </div>
      </div></body></html>